@import "tailwindcss";

@theme {
  --color-forest: #166534;
  --color-gold: #F59E0B;
  --color-cream: #FFFBEB;
  --color-charcoal: #1F1F1F;
}

body {
  background-color: #FFFBEB;
  color: #1F1F1F;
}

.currency::before {
  content: "₦";
}